html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    width: 100%;
    min-height: 100vh;
    font-size: 1.5rem;
}

.navigation-bar {
    height: auto;
    min-height: 60px;
    display: grid;
    grid-template-areas: "A E B C D";
    grid-template-columns: .6fr .8fr 2fr .5fr .5fr;
    align-items: center;
    background: grey;
    grid-column-gap: 10px;
}



a.nav__main {
    grid-area: A;
}


.nav__all__users {
    grid-area: E;
}

.nav__none {
    grid-area: B;
}

.nav__registration {
    grid-area: C;
}


.username {
    grid-area: C;
    text-align: center;
    font-family: 'Arial';
    font-size: 2rem;

}

.nav__login {
    grid-area: D;
}

.navigation-bar a {
    text-align: center;
}

nav a {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    background: orange;
    border: 2px solid black;
    border-radius: 7px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


