html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: "Arial";
    height: 100vh;
    font-size: 18px;
    background-color: rgba(209, 209, 209, 0.507);
    /* grid-template-rows: 60px 1fr; */
}

.main {
    height: 100vh;
    margin: 0 15%;
}

.page__content {
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 85, 255, 1);
}

input {
    height: 20px;
}