{% extends 'base.html' %}

{% load static %}

{% block css_add %}
<link rel="stylesheet" href="{% static 'auth_app/css/login.css' %}" />
{% endblock %}

{% block script_add %}
<script src="{% static 'auth_app/js/script.js' %}"></script>
{% endblock %}

{% block navbar %} {% endblock %}

<body>
    {% block content %}
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.username}}
            {{ form.password }}
            <button type="submit" class="btn btn-primary btn-block btn-large">Войти</button>
        </form>
        <a href="{% url 'registration' %}" class='auth'>Регистрация</a>
        <a href="" class='auth'>Забыли пароль?</a>
    </div>
    {% endblock %}
</body>

</html>