{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Вход
        </title>

        {% block css_add %}
            <link rel="stylesheet" href="{% static 'auth_app/css/style.css' %}">
        {% endblock %}


</head>
<body>
{% block content %}
  <form method="post">
      {% csrf_token %}
      <div class="form-error">{{ form.non_field_errors }}</div>
      {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
      {% endfor %}
      <button type="submit">Войти</button>
  </form>
{% endblock %}
</body>
</html>