{% extends 'user_profile/profile.html' %}

{% block content %}
<div class="profile__block">
    <div class="profile__menu">
        <div class="pass"></div>
        <ul class="menu">
            {% for key, value in list_menu.items %}
            <li><a href="{{ value.url }}">{{ value.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="info">
        <div class="top"></div>
        <div class="change__form">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Сменить пароль</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}