{% extends 'films_app/category_template.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'films_app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'films_app/css/all_movies.css' %}">
{% endblock %}

{% block movies_content %}
        <ul class="all__movies">
            {% for movie in movies %}
                <li class="info__movie">
                    <a href="" class="info__link">{{ movie.movie_title }} ({{ movie.original_title }})</a>
                    {% if movie not in added_movies %}
                        <a href="{% url 'add_movie' movie.id %}" class="add__movie"><img src="{% static 'films_app/img/plus.ico' %}"></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% endblock %}
