{% extends 'base.html' %}

{% load static %}

{% block css_add %}
<link rel="stylesheet" href="{% static 'films_app/css/index.css' %}">
{% endblock %}

{% block content %}
<div class="table__content">
    {% block users_list %} {% endblock %}
    {% include "includes/category_nav.html" %}
    <div class="movies__content">
        {% block table_content %}
        <div class="movies__content__title">
            <form action="{% url 'search' %}" class="search__form" id="search__form">
                <input type="text" name="search">
            </form>
        </div>
        {% block movies_content %}{% endblock %}
        {% endblock %}
    </div>
</div>
{% endblock %}