{% extends 'films_app/category_template.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'films_app/css/index.css' %}">
{% endblock %}

{% block movies_content %}
    <ul class="statuses__movies">
        {% for status in statuses %}
            <li><a href="">{{ status.status }}</a></li>
        {% endfor %}
    </ul>
    <ul class="movie__list" style="overflow-y: scroll;">
        {% for movie in user_movies %}
            <li class="movie__info">
                <a href="" class="movie__title">{{ movie.movie }} ({{ movie.movie.original_title }})</a>
                <a href="{% url 'delete_movie' movie.id %}" class="delete__movie">
                    <img src="{% static 'films_app/img/cross.ico' %}">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
