{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'films_app/css/users_list.css' %}">
{% endblock css_add %}

{% block content %}
    <div class="users__list__table">
        <h2>Всего пользователей: {{ users|length }}</h2>
        <ul class="users__list">
            {% for user in users %}
                {% if user.username != 'admin' %}
                <a href="{% url 'user_category_movies' user.username 'vse' %}">
                    <li class="{% if user == request.user %}my__username{% else %}{% endif %}">
                        {{ user.username|capfirst }}
                    </li>
                </a>
                {% else %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock content %}