.content {
    display: grid;
    grid-template-columns: .7fr 1fr .7fr;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    height: 91vh;
}

.grid__element{}

.ge__1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: .5fr;
    background: black;
}

.users__block {
    background: grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;
    border: 2px solid black;
    border-radius: 7px;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.users__block h2{
    text-align: center;
}

.users__list {
    height:100%;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    overflow-y: scroll;
}

.users__list li {
    list-style-type: none;
    font-size: 1.5rem;
}

.title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.my__username {
    background: rgba(255,215,0, 0.5)
}