.page__content {
    display: grid;
    height: 91vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: .5fr 1fr 1fr 1fr;
}

.table__content {
    background: grey;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: -1;
    border: 2px solid black;
    border-radius: 7px;
    padding-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.users__block {
    display: grid;
    grid-template-rows: auto 1fr;
}

.table__content h2{
    text-align: center;
}

.users__list {
    height: auto;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    overflow-y: scroll;
}

.users__list li {
    list-style-type: none;
    font-size: 1.5rem;
}

.my__username {
    background: rgba(255,215,0, 0.5)
}