.users__list__table {
    display: grid;
    grid-template-rows: auto 1fr;
    max-height: 680px;
    width: 70%;
    margin: 40px auto 0 auto;
    border: 1px solid black;
    background: #0000004d;
}

.users__list__table h2 {
    text-align: center;
    border-bottom: 1px solid;
}

ul.users__list {
    height: auto;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    overflow-y: scroll;
}

.users__list li {
    list-style-type: none;
    font-size: 1.5rem;
}

.my__username {
    background: rgba(255, 215, 0, 0.5)
}