{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}" />
{% endblock %}

<nav class="navigation__bar">
    <ul>
        {% if request.user.is_authenticated is False %}
        <li><a href="{% url 'registration' %}" class="nav__registart</>ion">Регистрация</a></li>
        <li><a href="{% url 'login' %}" class="nav__login">Войти</a></li>
        {% else %}
        <li><a href="{% url 'user_category_movies' request.user.username 'vse' %}" class="nav__main">Мои фильмы</a></li>
        <li><a href="{% url 'category_all_movies' 'vse' %}" class="nav__all__movies">Все фильмы</a></li>
        <li><a href="{% url 'users_list' %}" class="nav__all__users">Все пользователи</a></li>
        <li>
            <div class="nav__none"></div>
        </li>
        <li><a href="{% url 'profile' request.user.username %}" class="nav__username">{{ request.user|capfirst }}</a>
        </li>
        <li><a href="{% url 'logout' %}" class="nav__logout">Выйти</a></li>
        {% endif %}
    </ul>
</nav>